<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
    <ion-button fill="clear" color="dark" slot="end" href="tab4">
        <ion-icon name="return-left"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding >
   <ion-list>  
  <div> 
    <label>
      <p> <span style="color:#ffffff">Nombre</span>
       <input type="text"></p>
      </label>
    <label>
      <p>  <span style="color:#ffffff">Apellidos</span>
        <input type="text"></p>
      </label>
    <label>
      <p> <span style="color:#ffffff">contraseña</span>
         <input type="password"></p>
      </label>
    <label>
      <p> <span style="color:#ffffff">repetir contraseña</span>
         <input type="password"></p>
      </label>
      <label>
        <p> <span style="color:#ffffff">nombre de usuario</span>
          <input type="text"></p>
       </label>
       <label>
        <p><span style="color:#ffffff">correo electronico</span>
          <input type="text"></p>
       </label>

      </div>
    </ion-list> 
      <ion-button fill="clear" href="tab4">
         siguiente
          <ion-icon name="return-right"></ion-icon>
        </ion-button>

</ion-content>
