ion-header{
    --ion-background-color: rgb(245, 105, 11);
}
ion-content{
    --ion-background-color: rgb(25, 7, 88);
}
ion-list{
    background-image: url('/assets/blue.jpg');
    text-align: center 
}