<ion-header>
  <ion-toolbar>
    <ion-title color="dark">sing up</ion-title>
    <ion-button fill="clear" color="dark" slot="end" href="tabs">
        <ion-icon name="return-left"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-header style="color:#ffffff" class="contenedor">
            <ion-card>
          <span>
            <p style="color:#ffffff"><a>_____</a>user
          <input type="text" aling="justify" width="200px" style="color:#000000" value="ejemplo@email.com" name="usuario o correo">
          </p>
        </span>
          <span>
            <p style="color:#ffffff">
                <a>_</a>password
          <input type="password" aling="justify" width="200px" style="color:#000000" name="password">
            </p>
        </span>
        </ion-card>
        <ion-card>
        <ion-button fill="clear" href="tabs" style="color:#ffffff">enter</ion-button>
        <ion-button fill="clear" href="tab5" style="color:#ffffff">registrarse</ion-button>
        </ion-card>
        </ion-header>
        
        
</ion-content>
